__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.spec

*.pyc
*.pyo
*.pyd
*.qrc
*.ui.py
*.qmlc
*.qrc.py

env/
venv/
ENV/
.venv/
.Python

*.log
*.coverage
htmlcov/
.coverage.*

.vscode/

.idea/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*.bak
*.swp
*.swo

meetings.db
app/speeddial-f2572-firebase-adminsdk-fbsvc-19fdde59c7.json
app/secret.key
client_secret_35928354061-dfov330q4s5e2hbejn36srahhv080aid.apps.googleusercontent.com.json
.env